<!DOCTYPE html>
<html lang="en">
<head>
<%- include ../partials/_header %>
  <title>TinyApp</title>
</head>
<body>
  <% include ./partials/header %>
  <ul><h2>Full Length URLs</h2>
    <li>http://localhost:8080/urls/b2xVn2</li></ul>
    <br>
  <ul><h2>Shortened URLs</h2>
    <li>b2xVn2</li></ul>
</body>
</html>